.icon {
    font-size: 16px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../img/sprite.svg");
    background-repeat: no-repeat;
    background-size: 27.4093125em 33.6875em;
}

.no-svg .icon:before {
    background-image: url("../img/sprite.png");
}

.icon.icon-github:before {
    background-position: 0em 0em;
    width: 27.4093125em;
    height: 27.4093125em;
}

.icon.icon-ln:before {
    background-position: 0em -27.4375em;
    width: 3.10325em;
    height: 3.10325em;
}

.icon.icon-tw:before {
    background-position: 0em -30.5625em;
    width: 3.10325em;
    height: 3.10325em;
}

